<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="vendor/autoload.php"
        executionOrder="depends,defects"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutTodoAnnotatedTests="true"
        cacheResultFile="var/cache/.phpunit.result.cache"
        verbose="true">
    <testsuites>
        <testsuite name="Test">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
